@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Empresa criada com intento de cuidar da gestão administrativa, operacional, financeira e jurídica da sua empresa ou do seu Condomínio.</p>
