@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    São Paulo<br />
    Embu das Ates, (11) 98052-6399<br />
    <abbr title="Phone">CEP:</abbr>
    06823-020
</address>

<address>
    <strong>Email:</strong>   <a href="emersonreis22664@gmail.com">emerson@gmail.com</a><br />
    <strong>Linkedln:</strong> <a href="https://www.linkedin.com/in/emerson-reis-7972b419a/">emersonreis@gmail.com</a>
</address>