@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nextsof Condominios</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://localhost:60727/Home/About" class="btn btn-primary btn-lg">Sobre o site</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CONDOMINIOS</h2>
        <p>
            Somos uma empresa especializada em gestão de condomínios, 
            atuamos em toda baixada santista e temos mais de 30 anos de experiência.
            Somos apaixonados em soluções práticas e atendimento rápido. 
            Atualmente com escritórios em Santos e Guarujá (cidades onde somos líderes), temos como nossa maior 
            responsabilidade cuidar de mais de 15 mil famílias
        </p>
        <p><a class="btn btn-default" href="http://localhost:60727/Condominio">Acessar</a></p>
    </div>
    <div class="col-md-4">
        <h2>FAMILIAS</h2>
        <p>A mesma harmonia se mantém no condomínio da família do técnico em eletrotécnica Enos Alves, 27. No terreno que a avó comprou em Catu, há mais de 30 anos, três filhos construíram casas, que são interligadas à dela por um quintal. "É lá onde nos reunimos nas datas comemorativas".</p>
        <p><a class="btn btn-default" href="http://localhost:60727/Familia">Acessar</a></p>
    </div>
    <div class="col-md-4">
        <h2>MORADORES</h2>
        <p>Moradores com responsabilidades bem homorados. Sendo assim aqui você encontra os melhores condominios com um abiente agradavel para sua familia. </p>
        <p><a class="btn btn-default" href="http://localhost:60727/Morador">Acessar </a></p>
    </div>
</div>